@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.button {
  margin: 0;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  border-radius: 4px;
  border: none;
  text-decoration: none;
}

.button-blue {
  background-color: #83B3D3;
}

.clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-header {
  margin-bottom: -5px;
  z-index: 1;
}

.navigation {
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.logo {
  width: 139px;
  margin-right: 30px;
}

.page-header-logo {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 460px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 420px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-button {
  display: block;
  width: 130px;
  padding: 8px 15px;
  line-height: 20px;
}

.main-container {
  flex-grow: 1;
}

.main-picture {
  padding: 51px 371px 82px;
  background-color: #8DBCDA;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.description {
  padding: 63px 240px 80px;
}

.main-title {
  margin-top: 0;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.description-paragraph {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #ffffff;
}

.advantages-wrapper {
  box-sizing: border-box;
  width: 400px;
  padding: 98px 90px 86px;
  background-color: #83B3D3;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  margin-top: 30px;
  margin-bottom: 0;
}

.advantages-description-number {
  display: block;
  margin-top: 20px;
}

.features-list {
  display: flex;
}

.features-item-icon {
  box-sizing: border-box;
  width: 33.33%;
  padding: 184px 75px 80px;
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.features-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.features-description {
  margin-top: 14px;
  margin-bottom: 0;
}

.features-item {
  box-sizing: border-box;
  width: 33.33%;
  padding: 98px 75px 108px;
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.features-white {
  background-color: #ffffff;
  text-align: center;
}

.features-light-blue {
  background: rgba(131, 179, 211, 0.2);
  text-align: center;
}

.search-hotel {
  padding: 92px 240px 92px;
  text-align: center;
}

.search-hotel-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotel-description {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 26px;
}

.search-hotel-button {
  width: 575px;
  margin-top: 56px;
  padding: 15px 0;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.newsletter  {
  padding: 94px 200px;
  background-color: #6b5834;
  background-image: url("../images/newsletter-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin-top: 46px;
}

.field {
  box-sizing: border-box;
  width: 600px;
  margin: 0;
  padding: 17px 22px;
  font-size: 18px;
  line-height: 26px;
  border-radius: 10px 0px 0px 10px;
  border: none;
}

.newsletter-button {
  box-sizing: border-box;
  width: 200px;
  padding: 17px 0;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
}

.page-footer {
  display: flex;
  align-items: center;
  padding: 40px 72px 30px;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 130px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 4px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts {
  max-width: 600px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px;
}

.developer {
  width: 115px;
}

.footer-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

/* catalog */

.inner {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.selection-hotels {
  padding: 30px 72px 82px;
  background-color: #008B8B;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.selection-hotels-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 45px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin-right: 67px;
  border: none;
}

.catalog-filter-title {
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.control-input {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 19px;
  padding-top: 6px;
  background: #FFFFFF;
  border-radius: 4px;
}

.range {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  margin-left: auto;
}

.catalog-hotels-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 80px;
}


.button-apply {
  width: 160px;
  margin-bottom: 20px;
  padding: 14px 0;
  font-size: 16px;
  line-height: 21px;
}

.button-reset {
  width: 160px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  border: 0;
}

.sorting-card {
  display: flex;
  padding: 44px 72px 52px;
}

.sorting-card-result {
  margin: 0;
  max-width: 372px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sorting-card-select {
  width: 288px;
  margin-left: auto;
  margin-right: 80px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.mode-list {
  display: flex;
}

.mode-list-button {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.mode-list-button:last-child {
  margin-right: 0;
}

.mode-list-button-current {
  border: 2px solid #000000;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  padding-left: 72px;
  padding-right: 72px;
}

.hotel-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
  width: 340px;
  padding: 20px;
}

.hotel-card-link {
  width: 100%;
  color: #000000;
  text-decoration: none;
}

.hotel-card-photo {
  display: block;
}

.hotel-card-title {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.type-residence {
  margin-top: 16px;
  margin-right: 78px;
  color: #000000;
}

.hotel-cost {
  margin-top: 16px;
  color: #000000;
}

.button-favourites {
  margin-left: auto;
  padding: 8px 12px;
}

.hotel-card .button {
  margin-top: 16px;
}

.button-green {
  background: #7DB54F;
}

.star-rating {
  display: block;
  width: 43px;
  height: 17px;
  margin-top: 26px;
  margin-right: auto;
  background-image: url(../images/star.svg);
}

.star-rating-four {
  width: 91px;
}

.star-rating-three {
  width: 68px;
}

.hotel-card-rating {
  display: block;
  box-sizing: border-box;
  width: 160px;
  margin-top: 16px;
  text-align: center;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;

}

.upload-more {
  margin: 34px 72px 34px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.button-big {
  display: block;
  width: 620px;
  margin: 30px auto;
  padding: 17px 0;
  font-size: 20px;
  line-height: 26px;
}

.pagination {
  display: flex;
  align-items: center;
  padding-left: 72px;
  padding-right: 72px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 504px;
  margin-right: auto;
}

.pagination-item {
  margin-right: 8px;
  margin-bottom: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 15px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-page {
  width: 175px;
  margin-right: 51px;
  color: #000000;
}

.select-control {
  box-sizing: border-box;
  width: 160px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.newsletter-inner {
  padding: 64px 200px 140px;
  color: #000000;
  text-align: center;
}

.newsletter-inner-title {
  margin-bottom: 46px;
}

.field-inner {
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  border: none;
}
